.achieved {
  min-height: 664px;
  padding: 0px 10vw 0px 10vw;
  display: flex;
  justify-content: space-between;
}

.achieved article.sideArticle {
  min-width: 370px;
  max-width: 370px;
  min-height: 584px;
  max-height: 584px;
  border-radius: 27px;
  background-color: #fafafa;
}

.achieved article.centerArticle {
  min-width: 370px;
  max-width: 370px;
  min-height: 274px;
  max-height: 274px;
  box-sizing: border-box;
  padding: 48px;
  border-radius: 27px;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='27' ry='27' stroke='%232755F3FF' stroke-width='2' stroke-dasharray='15%2c 16' stroke-dashoffset='12' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 27px;
}

.achieved article.weAchievedArticle {
  box-sizing: border-box;
  padding: 48px;
}

.achieved article.weAchievedArticle h1 {
  margin: 0px;
  font-family: Montserrat;
  font-size: 37px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;  
}

.achieved article.weAchievedArticle p.percentage {
  margin: 0px;
  font-family: Montserrat;
  font-size: 110px;
  font-weight: 700;
  line-height: 137px;
  letter-spacing: 0em;
  text-align: left;
}

.achieved article.weAchievedArticle p.mainText {
  margin: 0px;
  font-family: Montserrat;
  font-size: 27px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;  
}

.achieved article.weAchievedArticle div {
  display: flex;
  margin: 80px 0px 18px 0px;
}

.achieved article.weAchievedArticle div p {
  margin: 0px 50px 0px 0px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;  
}

.achieved article.weAchievedArticle a {
  display: inline-block;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  min-width: 166px;
  max-width: 166px;
  min-height: 53px;
  border: solid 2px #acacac;
  border-radius: 64px;
  font-family: Montserrat Alternates;
  font-size: 17px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  color: #323232;
}

.achieved article.centerArticle h1{
  margin: 0px;
  font-family: Montserrat Alternates;
  font-size: 37px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}


.achieved article.centerArticle p{
  margin: 0px;
  font-family: Montserrat;
  font-size: 73px;
  font-weight: 500;
  line-height: 102px;
  letter-spacing: 0.02em;
}

.achieved article#clienteleValuationsArticle {
  margin-bottom: 36px;
}

.achieved article#inFundingArticle {
 margin-top: 36px;
}

.achieved article.baseInArticle {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 36px 18px 18px 36px;
  background: url('../assets/AchievedSolarPanel.png');
  background-position: center center;
}

.achieved article.baseInArticle h1{
  margin: 0px;
  font-family: Montserrat Alternates;
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
}
.achieved article.baseInArticle a{
  display: inline-block;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  min-width: 117px;
  max-width:  117px;
  min-height: 37px;
  max-height: 37px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='white' stroke-width='2' stroke-dasharray='14%2c14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 15px;
  color: #fff;
}

.achieved article.baseInArticle img{
  align-self: flex-start;
}