.footerDiv {
  min-height: 395px;
  background: linear-gradient(140.89deg, rgba(39, 85, 243, 0.14) 0%, rgba(20, 117, 238, 0.14) 50%, rgba(0, 149, 233, 0.14) 100%);
  text-align: center;
}

.footerDiv p {
  margin: 60px 0px 0px 0px;
}

.footerDiv div {
  display: flex;
  justify-content: space-between;
}

.footerDiv div article.getFreeConsult {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px -11px;
  width: 782px;
}

.footerDiv div article.getFreeConsult p {
  position: absolute;
  display: inline-block;
  margin: 0px;
  color: #E3F2FF;
  font-family: Montserrat;
  font-size: 224px;
  font-weight: 400;
  line-height: 269px;
  letter-spacing: 0em;
  text-align: left;
  z-index: 0;
}

.footerDiv div article.getFreeConsult a {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-align: left;
  background: -webkit-linear-gradient(140.89deg, #2755F3 0%, #1475EE 50%, #0095E9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.footerDiv div.linksContainer {
  margin: 97px 218px 0px 0px;
  display: flex;
  flex-direction: column;
}

.footerDiv div.linksContainer article ul {
  padding: 0px;
  list-style-type: none;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
}

.footerDiv div.linksContainer article ul li{
  margin-bottom: 18px;
}

.footerDiv div.linksContainer article ul li a{
  text-decoration: none;
  color: #4E4D4D;
}

.footerDiv div.linksContainer div.linksListsContainer {
  margin-bottom: 10px;
}

.footerDiv div.linksContainer div.linksListsContainer article.quickLinks {
  margin-right: 44px;
}

.footerDiv div.linksContainer div.linksListsContainer article.contactUs ul li img {
  margin-bottom: -2.5px;
}

.footerDiv div.linksContainer div.socialMediaContainer {
  margin-left: 150px;
}

.footerDiv div.linksContainer div.linksListsContainer article h1 {
  margin: 0px 0px -10px 0px;
  font-family: Montserrat Alternates;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
