.heroSection {
  background-color: #fff;
  min-height: 746px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10vw 0px 10vw;
}

.heroSection article.poweringUpArticle {
  min-width: 522px;
  max-width: 522px;
  min-height: 618px;
}

.heroSection article.poweringUpArticle h1 {
  font-family: "Montserrat Alternates";
  white-space: pre-line;
  margin: 29px 0px 0px 0px;
  font-size: 48px;
  font-weight: 500;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
}

.heroSection article.poweringUpArticle p {
  font-family: Montserrat;
  text-wrap: balance;
  margin: 26px 0px 28px 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}

.heroSection article.poweringUpArticle input {
  display: block;
  width: 470px;
  min-width: none;
  height: 62px;
  margin: 0px 0px 28px 0px;
  padding: 24px, 32px, 24px, 32px;
  border-radius: 64px;
  border: 2px solid #2755F3;
}

.heroSection article.poweringUpArticle a.howItsWork {
  display: inline-block;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 14px;
  width: 219px;
  border: solid 2px #1F1F1F;
  border-radius: 64px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  line-height: 62px;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(140.89deg, #2755F3 0%, #1475EE 50%, #0095E9 100%);
}

.heroSection article.poweringUpArticle a.lightUp {
  display: inline-block;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin-left: 14px;
  width: 219px;
  border: solid 2px #acacac;
  border-radius: 64px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  line-height: 62px;
  font-size: 20px;
  color: #323232;
}

.heroSection article.poweringUpArticle input {
  font-family: Montserrat Alternates;
  box-sizing: border-box;
  padding-left: 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;  
}

.heroSection article.poweringUpArticle div {
  display: flex;
  align-items: center;
}

.heroSection article.poweringUpArticle div div{
  display: block;
  margin: 0px 46px 0px 0px;
}

.heroSection article.poweringUpArticle div div h2{
  font-family: "Montserrat Alternates";
  margin: 78px 0px 16px 0px;
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  
}

.heroSection article.poweringUpArticle div div p{
  font-family: "Montserrat Alternates";
  margin: 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.heroSection article.imageArticle {
  display: flex;
  position: relative;
}

.heroSection article.imageArticle div.chargeStory {
  position: absolute;
  box-sizing: border-box;
  align-self: self-end;
  right: 31px;
  bottom: 27.5px;
  padding: 0px 15px 0px 15px;
  min-width: 250px;
  max-width: 250px;
  min-height: 169px;
  max-height: 169px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 18px;
}

.heroSection article.imageArticle div.chargeStory ul {
  max-width: 219px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0;
  margin: -15px 0px 0px 0px;
  font-family: Montserrat Alternates;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  color:#888888;
}

.heroSection article.imageArticle div.chargeStory h1{
  margin: 15px 0px 0px 0px;
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #1F1F1F;
}

.heroSection article.imageArticle div.chargeStory p{
  margin: 10px 20px 0px 0px;
  font-family: Montserrat Alternates;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: right;  
  color:#888888;
}

.heroSection article.imageArticle div.smartEnergy {
  position: absolute;
  box-sizing: border-box;
  left: -50px;
  bottom: 121px;
  padding: 10px;
  min-width: 157px;
  max-width: 157px;
  min-height: 193px;
  max-height: 193px;
  background-color: #fff;
  border-radius: 22px;
  border: 1px solid black;
}

.heroSection article.imageArticle div.smartEnergy h1 {
  font-family: Montserrat Alternates;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.heroSection article.imageArticle div.smartEnergy p {
  margin: 0px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  
}

.heroSection article.imageArticle div.smartEnergy p span{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color:  #2755F3;  
}