.whatWeOfferSection {
  min-height: 654px;
  padding: 12px 10vw 12px 10vw;
}

.whatWeOfferSection h1{
  margin: 30px 0px 52px 0px;
  font-family: "Montserrat Alternates", "Montserrat";
  font-size: 46px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: center;
}

.whatWeOfferSection div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whatWeOfferSection div article {
  min-width: 290px;
  max-width: 338px;
  min-height: 410px;
  max-height: 410px;
  margin: 0px 16px 0px 16px;
  padding: 32px;
  border: solid 3px #0000;
  border-radius: 26px;
  background:
    linear-gradient(#fafafa, #fafafa) padding-box,
    linear-gradient(179.9deg, rgba(39, 85, 243, 0) -5.6%, rgba(20, 117, 238, 0.32) 47.15%, #0095E9 99.91%) border-box;
}

.whatWeOfferSection div article.whatWeOfferSpecialArticle {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(179.9deg, #0095E9 -3.07%, rgba(20, 117, 238, 0.32) 50.37%, rgba(39, 85, 243, 0) 103.81%) border-box;
}

.whatWeOfferSection div article img.iconArticle{
  margin-top: 20px;
}

.whatWeOfferSection div article h2{
  font-family: "Montserrat Alternates", "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.whatWeOfferSection div article p{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  text-wrap: pretty;
}


.whatWeOfferSection div article div{
  display: flex;
  justify-content: initial;
  margin-top: 45px
}

.whatWeOfferSection div article div a{
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  border-bottom: 1.5px solid;
  text-decoration: none;
  margin-right: 6px;
}
