package views

templ Clients() {
	<section class="clientsSection">
		<link rel="stylesheet" href="/css/clients.css"/>
		<img src="/assets/Samsung.svg" alt="Samsung logo"/>
		<img src="/assets/Apple.svg" alt="Apple logo"/>
		<img src="/assets/Patagonia.svg" alt="Patagonia logo"/>
		<img src="/assets/Walmart.svg" alt="Walmart logo"/>
		<img src="/assets/Spotify.svg" alt="Spotify logo"/>
		<img src="/assets/Etsy.svg" alt="Etsy logo"/>
	</section>
}
