package views

templ NavBar() {
	<nav class="navbar">
		<link rel="stylesheet" href="/css/navBar.css"/>
		<img src="/assets/Logo.svg" alt="Trade solar logo"/>
		<ul>
			@NavigateLi("Home")
			@NavigateLi("About")
			@NavigateLi("Service")
			@NavigateLi("Office")
		</ul>
		<a class="startedButton" href="#">Get Started</a>
	</nav>
}

templ NavigateLi(text string) {
	<li class="navLi"><a href="#">{ text }</a></li>
}
